body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #070F2B;
    color: white;
    flex-direction: column;
    display: flex;
    font-family: "Noto Sans", sans-serif;
    align-items: center;
    scroll-behavior: smooth;
}

/* look for an icon for the cinema*/
header {
    align-items:center;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around; 
    position: fixed;
    background-color: grey;

}
/* in the heading */
header h1 {
    font-size: larger;
    border: 1px solid yellow;
    border-radius: 8px;
    background-color: #00909E;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

/* for the navigation*/
.navigation a {
    background-color: transparent;
    outline: none;
    color: white;
    width: 28%;
    margin-left: 15px;
    border-radius: 7px;
    border-style: none;
    font-size: large;
    padding: 15px;
    gap: 30px;
    
}

.navigation a:hover {
    color: yellow;
}
/* the main content */
main {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;  
    border-radius: 7px;
    width: 100%;
}

.about {
    display: flex;
    margin-top: 30px;
    color: darkgoldenrod;
    font-weight: 900px;
    font-size: larger;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    width: 100%;
   font-size: x-large;

}

.about p {
    align-items: center;
    justify-content: center;
   
}
/* where the picture is*/
.picture {
    width: 100%;
    background-image: url(images/wp13593916-badland-hunters-2024-wallpapers.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    border-radius: 8px;
    margin-top: 30px;
}

/* the badland description*/
.badland {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 50%;
    margin-top: 150px;
    margin-left: 10px;
}

/* for the background-picture */
.badland h2 {
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

/* the budland button*/
.badland button {
    background-color: #142850;
    outline: 1px solid black;
    color: white;
    width: 150px;
    margin-left: 280px;
    border-radius: 7px;
    border-style: none;
    font-size: large;
    padding: 20px;
    float: right;
    border: 2px green;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* the main work */
.middle {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;

}

/* movie tiles */
.collection {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    flex-direction: row;

}

.main1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main1 h3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* movie images */
.collection img{
    height: 190px;
    margin: 10px;
    border-radius: 7px;
}

.collection p {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration-style: none;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    width: 140px;
}

.collection a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.collection a:hover {
    background-color: aqua;
    border-radius: 5px;
}

/*for the genres */
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.genre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

/* for the guys in the genres */
.genre img{
    height: 190px;
    margin: 10px;
    border-radius: 7px;
}

.genre div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.genre div:hover {
    background-color: #2980b9;

  }

.genre h4 {
    color: white;
    
    background-color: green;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.middle h3 {
   
    width: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.upcoming {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
}

.upcoming div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.upcoming img {
    height: 180px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 140px
}

.upcoming h4 {
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    width: 150px;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100%;
}
