body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #0e0f2e;
    color: white;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    align-items: center;

    
}

/* add the background color*/
header {
    align-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
   
}


/* center the items */
main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;   
}

.middle {
    background-color: #292C6D;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-bottom: 20px;
    justify-content: space-between;
}
/* resize the images */
/*should be tranparent*/
.about {
    box-sizing: border-box;
    border: 1px solid white;
    height: 320px;
    width: 50%;
    border-radius: 3%;
    margin-top: 5px;
    background-color: #FAEDF0;
    color: rgb(38, 11, 11);
    justify-content: space-between;
    color: black;
    text-align: center;
}

/* make sure they fit*/
.about img {
    width: 30%;
    overflow: hidden;
    display: inline-block;
   margin-left: 9px;
   border-radius: 7px;
   height: 120px;
   flex-direction: row;
   margin-top: 10px;
}

.info {
    margin-top: 20px;
    width: 50%;
    height: 50px;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    color: aqua;
}
.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 700px;
    align-content: center;
    flex-wrap: wrap;
    width: 700px;


}

.button {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #d0cb30;
    color: #0c7f7d72;
    border-radius: 5px;
    font-weight: bold;
    height: 50px;
    float: right;
    font-size: larger;
}

.button:hover {
    background-color:  #575e0a;
}

.picture img {
    height:250px;
    width: 550px;
    border-radius: 15px;
    padding: 5px;
    align-items: center;
    margin-top: 20px;
}

.footer {
    width: 100%;
    background-color: #FAEDF0;
    height: 80px;
    color: black;
    margin-top: 20px;
    border-radius: 5px;
}

.colection  img {
    box-sizing: border-box;
    margin-top: 20px;
    width: 44px;
    height: 70px;
}

h3 {
    border-bottom: 1px solid black;
    width: 90px;
    margin-left: 50px;
}
