body {
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(wp13340698-blur-white-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: orange;
   background-color: white;

}


main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}
.pages  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    width: 100%;
    gap: 55px;
}

.pages a {
    text-decoration: none;
    border: 1px solid red;
    width: 90px;
    border-radius: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: greenyellow;
}
.countdown {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-direction: column;
    
    
}

img {
    width: 30%;
    overflow: hidden;
    display: block;
    margin-top: 20px;
   height: 220px;
}

li {
    border-bottom: 1px solid white;
    display: inline-block;
    color: rgb(249, 249, 243);
    border-radius: 2%;
   width: 100%;
    display: flex;
}

li div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 15px;
}

li p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

li h4 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: yellow;
}

.button {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1fb34b;
    color: #371e0c72;
    border-radius: 5px;
    font-weight: bold;
    height: 50px;
    float: right;
    margin-bottom: 10px;
    font-size: larger;
    align-self: center;
}

.button:hover {
    background-color:  #575e0a;
}

button {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    float: right;
    margin-bottom: 10px;
    font-size: larger;
    align-self: center;
    height: 50px;
}

button:hover {
    background-color:  #575e0a;
}

